.c-container {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	gap: 2rem;
}

.c-left {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.contactModes {
	margin-top: 2rem;
	gap: 1rem;
}

.contactModes .row {
	gap: 1.5rem;
}

.mode {
	width: 16rem;
	padding: 1rem;
	border: 0.8px solid rgba(128, 128, 128, 0.143);
	border-radius: 5px;
	gap: 1rem;
	transition: all 300ms ease-in;
}

.mode .button {
	width: 100%;
	background: var(--lightBlue);
	color: var(--blue);
	font-size: 0.9rem;
	font-weight: 600;
}

.mode > :nth-child(1) {
	width: 100%;
	gap: 1.6rem;
}

.mode .detail .primaryText {
	font-size: 1.1rem;
	font-weight: 600;
}

.mode:hover {
	transform: scale(1.1);
}

.mode > .button:hover {
	background: var(--blue-gradient);
	color: white;
	transform: scale(0.8);
}

@media (max-width: 1096px) {
	.c-container {
		flex-direction: column;
	}

	.c-left {
		margin: auto;
	}

	.c-left > span {
		text-align: center;
	}

	.contactModes {
		width: 100%;
		align-items: center !important;
		justify-content: center !important;
	}

	.c-right {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

@media (max-width: 640px) {
	.row {
		width: 100%;
		flex-direction: column;
	}

	.row .mode {
		width: 100%;
	}
}
